


  <div class="row">
    <div class="col s4 left">
      <h5><%= @user.name %></h5>
<p>
  <p1>Username:</p1>
  <%= @user.username %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>


<div width="225" style="width: 225px"><%= form_tag(user_path, method: "get", id: "search-form") do %>
 <%= text_field_tag :search, params[:search], placeholder: "Search for user or username" %>
  <%= submit_tag "Search", :name => nil %>
 <% end %></div>

 <% if @users.blank? && params[:search] %>
   <h6>There are no results for <%= params[:search] %>.</h6>
   <% elsif params[:search] == nil %>
    <%= "" %>
   <% else %>
   <h6>Results:</h6>
 <% end %>

<% if !!@users %>
  <% @users.each do |user| %>
  <%= link_to user.name, user %>
  <% end %>
<% end %>

<br><br><br>
<%= link_to 'Back', users_path %> |

<% if @user.id == current_user.id %>
  <%= link_to 'Edit', edit_user_path(@user) %><br><br>
  <%= link_to 'Log Out', logout_path %>
  <% end %>
</div>


<p>
  <ul>
<div class="col s4 ">
  <h5>Reviews:</h5>
  <% @user.reviews.each do |review| %>
    <li><%=link_to review.location.name, location_path(review.location) %></li>
    <li>Rating: <%= review.rating %></li>
    <li><%= review.content %></li><br>

    <% if @user.id == current_user.id %>
      <%= button_to "Edit Review", edit_review_path(review), :method => :get, params: {location_id: review.location.id}%><br>
    <% end %>
  <% end %>
</p>
</div>

<div class="col s4 right">
  <h5>Events:</h5>
  <ul>
<p vlink="blue">
  <% @user.events.each do |event| %>
    <% if DateTime.now < event.end_date %>
    <li><h6><%= link_to event.title, event %></h6></li>
    <li><%=link_to event.location.name, location_path(event.location) %></li>
    <li><%=event.format_date(event.start_date) + " - " + event.format_date(event.end_date)  %></li>
    <li><%= event.description.truncate(200, separator: ' ') %></li> <br>

  <% if @user.id == current_user.id %>
  <%= button_to 'Delete this Event', event_user_path(event.find_event_user(session[:user_id], event)), method: :delete, params: {event_id: event.id, user_id: session[:user_id]}, data: { confirm: 'Are you sure?' } %><br>
  <% end %>
  <% end %>
  <% end %>
  </p>
</ul>

  </p>
  <p>
  <h5>Past Events:</h5>
  <ul>

  <% @user.events.each do |event| %>
  <% if event.end_date < DateTime.now %>
  <li>Title:<%= link_to event.title, event %></li>
  <li>Date:<%=event.format_date(event.start_date) + " - " + event.format_date(event.end_date)  %></li>
  <li>Location:<%=link_to event.location.name, location_path(event.location) %></li>
  <li>Description: <%= event.description %></li>
  <% if @user.id == current_user.id %>
  <%= button_to 'Delete this Event', event_user_path(event.find_event_user(session[:user_id], event)), method: :delete, params: {event_id: event.id, user_id: session[:user_id]}, data: { confirm: 'Are you sure?' } %>
</ul>

  <% end %>
  <% end %>
  <% end %>
  </div>
  </div>



<% if @user.id == current_user.id %>

  <%= button_to 'Delete this Account', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
