<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <ul>

  <strong>Reviews:</strong>
  <% @user.reviews.each do |review| %>
    <h4><%=link_to review.location.name, location_path(review.location) %></h4>
    <li>Rating: <%= review.rating %></li>
    <li><%= review.content %></li>
    <% if @user.id == current_user.id %>
      <%= button_to "Edit Review", edit_review_path(review), :method => :get, params: {location_id: review.location.id}%>
    <% end %>
  <% end %>
</ul>

</p>

<p>
  <strong>Events:</strong>

  <% @user.events.each do |event| %>
  <ul>

    <li>Title:<%= event.title %></li>
    <li>Date:<%=event.start_date %></li>
    <li>Location:<%=link_to event.location.name, location_path(event.location) %></li>
    <li>Desctription: <%= event.description %></li>
  </ul>
  <% if @user.id == current_user.id %>
  <%= button_to 'Delete this Event', event_user_path(event.find_event_user(session[:user_id], event)), method: :delete, params: {event_id: event.id, user_id: session[:user_id]}, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <% end %>

</p>
<%= link_to 'Back', users_path %> |

<% if @user.id == current_user.id %>
  <%= link_to 'Edit', edit_user_path(@user) %><br><br>
  <%= link_to 'Log Out', logout_path %><br><br><br><br>
  <%= button_to 'Delete this Account', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>
