<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <ul>

  <strong>Reviews:</strong>
  <% @user.reviews.each do |review| %>

  <h4><%=link_to review.location.name, location_path(review.location) %></h4>
  <li>Rating: <%= review.rating %></li>
  <li><%= review.content %></li>
  <%= button_to "Edit Review", edit_review_path(review), :method => :get %>
  <% end %>
</ul>

</p>

<p>
  <strong>Events:</strong>

  <% @user.events.each do |event| %>
  <ul>

    <li>Title:<%= event.title %></li>
    <li>Date:<%=event.start_date %></li>
    <li>Location:<%=link_to event.location.name, location_path(event.location) %></li>
    <li>Desctription: <%= event.description %></li>
  </ul>

  <% end %>

</p>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
