<p id="notice"><%= notice %></p>
Sort by Location
<%= form_tag(events_path, method: "get", id: "search-form") do %>
  <%= collection_select :location, :id, Location.all, :id, :name %>
  <%= submit_tag "Submit" %>
<% end %>



<h1>Current Exhibitions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%sorted_events= @events.sort_by {|event|event.end_date}%>
    <%sorted_events.each do |event| %>
    <% if event.start_date < DateTime.now && DateTime.now < event.end_date %>
      <tr>
        <td><%= link_to event.title, event %></td>
        <td><%= event.format_date(event.start_date) %></td>
        <td><%= event.format_date(event.end_date) %></td>
        <td><%= link_to event.location.name, location_path(event.location) %></td>
      </tr>
    <% end %>
    <%@events.sort_by {|event|event.end_date.to_r}%>
    <% end %>

  </tbody>
</table>


<h1>Upcoming</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <%sorted_events= @events.sort_by {|event|event.end_date}%>
    <%sorted_events.each do |event| %>
    <% if DateTime.now < event.start_date  %>
      <tr>
        <td><%= link_to event.title, event %></td>
        <td><%= event.format_date(event.start_date) %></td>
        <td><%= event.format_date(event.end_date) %></td>
        <td><%= link_to event.location.name, location_path(event.location) %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<h1>Past</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Location</th>
        <th colspan="3"></th>
      </tr>

    </thead>
    <tbody>
    <%sorted_events= @events.sort_by {|event|event.start_date}.reverse%>
    <%sorted_events.each do |event| %>
    <% if event.end_date < DateTime.now %>
      <tr>
        <td><%= link_to event.title, event %></td>
        <td><%= event.format_date(event.start_date) %></td>
        <td><%= event.format_date(event.end_date) %></td>
        <td><%= link_to event.location.name, location_path(event.location) %></td>
      </tr>
    <% end %>
    <% end %>

  </tbody>
</table>

<br>
