<p id="notice"><%= notice %></p>

  <h4>
  <%= @location.name %>
</h4>
<div class="row right">
  <div class="col s6" >
<img src ="<%=@location.image_url%>" height="450" width="550"></img>
</div>
</div>

<b>
  <strong>Overall Rating:</strong>
  <%= @location.overall_rating %>
</b>
<b>
  <strong>Neighborhood:</strong>
  <%= @location.neighborhood %>
</b>

<b>
  <%if @location.size%>
  <strong>Size:</strong>
  <%= @location.size %>
  <%end%>
</b>

<b>
  <strong>Cost of Admission:</strong>
  $<%= @location.cost_of_admission %>
</b>


<br><br>

<div class = "descript">
  <%= @location.description %>
</div>
<p>
  <b>Reviews:</b><br>
  <div class = "reviews" vlink="blue">
  <% @location.reviews.each do |review| %>
  <%= review.content %><br>
  <%= review.rating %> Stars
  -<%= link_to review.user.username, user_path(review.user.id) %><br><br>
<% end %>
<%= button_to "Leave Review", new_review_path, :method => :get,
  params: {location_id: @location.id}
%>

</div>
</p>
<br>
<p vlink="blue">
  <b>Events:</b><br>
  <ul>
  <% @location.events.each do |event| %>
  <%if event.start_date < DateTime.now && DateTime.now < event.end_date%>
  <li><%= link_to event.title, event_path(event.id)%> </li>
  <li><%= event.format_date(event.start_date) + " - " + event.format_date(event.end_date) %> </li>
  <li><%= event.days_left%> days left on view </li>
  <li><%= event.description %></li>
  <br>
<% end %>
<% end %>

</ul>
</p>
<p vlink="blue">
<b>Past Events:</b><br>
<ul>
<% @location.events.each do |event| %>
<% if event.end_date < DateTime.now %>
<li><%= link_to event.title, event_path(event.id)%> </li>
<li><%= event.format_date(event.start_date) + " - " + event.format_date(event.end_date) %> </li>
<li><%= event.description %></li><br>
<% end %>
<% end %>

</ul>
</p>




<%= link_to 'Back', locations_path %>
