<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @location.neighborhood %>
</p>

<p>
  <strong>Size:</strong>
  <%= @location.size %>
</p>

<p>
  <strong>Cost of Admission:</strong>
  $<%= @location.cost_of_admission %>
</p>

<p>
  <strong>Overall Rating:</strong>
  <%= @location.overall_rating %>
</p>

<p>
  <strong>Reviews:</strong><br>
  <% @location.reviews.each do |review| %>
  <%= review.content %><br>
  <%= review.rating %> Stars
  -<%= link_to review.user.username, user_path(review.user.id) %><br>
<% end %>
</p>
<%= button_to "Leave Review", new_review_path, :method => :get,
  params: {location_id: @location.id}
%>

<p>
  <strong>Events:</strong><br>
  <% @location.events.each do |event| %>
  <%= link_to event.title, event_path(event.id)%> -
  <%= event.start_date %> <br>
  <%= event.end_date %> <br>
  <%= event.description %><br>
<% end %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
